*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    font-size: 40px;
    padding: 50px 0;
    color: #f80;
    span{
        color: #fff;
    }
}
.conatainer{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

 .video-conatainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin: 50px;
   .video{
    flex: 0 0 30%;
    height: 250px;
    border: 5px solid #fff;
    cursor: pointer;
    overflow: hidden;
    transition: 0.25s ease all;
   }
   .video:hover{
    box-shadow: 5px 3px 5px #000;
   }
   video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease all;
   
   }
   video:hover{
        transform: scale(1.2);
    
   }

   
 }
 .show-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0, .80);
    display: none;

   video{
    position: absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
    z-index: 9999;
    max-width:65%;
   }
   span{
    width: 100%;
    height: 100%;
    position: absolute;
    top:15px;
    right: 0;
    color: #fff;
    background: transparent;
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1;
   }
 }
 @media(max-width:768px){
    .video-conatainer{
        flex-direction: column;
    }
 }


